$pc-break: 1080px;
$mobile-break: 640px;
html {
    scrollbar-gutter: stable;
}
.cardSimulator {
    max-width: $pc-break;
    margin: var(--space-lg) auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);

    @media screen and (max-width: $pc-break) {
        margin: var(--space-lg);
    }

    @media screen and (max-width: $mobile-break) {
        margin: var(--space-md);
        gap: var(--space-sm);
    }

    .cardSimulatorInner {
        display: flex;
        gap: var(--space-md);
        @media screen and (max-width: $mobile-break) {
            flex-direction: column;
            gap: var(--space-sm);
        }
    }

    h2 {
        background: var(--color-header-bg);
        border-radius: var(--radius-lg) var(--radius-lg) 0 0;
        color: var(--white);
        padding: var(--space-md);
        font-size: var(--font-lg);
        font-weight: 500;
        @media screen and (max-width: $mobile-break) {
            padding: var(--space-sm);
            font-size: var(--space-md);
        }
    }

    .leftBoxWrap {
        display: flex;
        flex-direction: column;
        gap: var(--space-xsm);
        width: var(--left-width); // calc(var(--left-width) - var(--space-md));

        h4 {
            background: var(--color-header-bg);
            border-radius: var(--radius-lg) var(--radius-lg) 0 0;
            color: var(--white);
            text-align: center;
            padding: var(--space-half);
            letter-spacing: var(--letter-spacing-md);
        }

        .leftInnerBox {
            padding: var(--space-sm);
            border-radius: 0 0 var(--radius-lg) var(--radius-lg);
            border: 1px solid var(--color-border);
            border-top: 0;
            color: var(--black-800);
        }

        .selectBox {
            .leftInnerBox {
                display: flex;
                gap: var(--space-md);
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .select {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--space-half);
                    width: 100%;
                    select {
                        width: 100%;
                        padding: 0 var(--space-half);
                        color: var(--black-800);
                        text-align: center;
                        border-color: var(--color-border);
                        border-radius: var(--radius-sm);
                    }
                }
            }
        }

        .resetButton {
            width: 100%;
            color: var(--white);
            padding: var(--space-q) var(--space-half);
            background: var(--color-border);
            border-radius: var(--radius-lg);
            transition: all 0.6s;
            &:hover {
                opacity: 0.75;
            }
        }

        p {
            font-size: var(--font-sm);
            padding-left: var(--space-md);
            text-indent: -1rem;
            letter-spacing: var(--letter-spacing-md);
        }

        @media screen and (max-width: $mobile-break) {
            width: 100%;
            padding: 0 var(--space-half);
            h4 {
                font-size: var(--font-sm);
            }

            .leftInnerBox {
                padding: var(--space-half);
            }
        }
    }

    .cardList {
        width: var(--right-width);
        display: flex;
        align-items: start;
        gap: var(--space-xsm);
        @media screen and (max-width: $mobile-break) {
            width: 100%;
        }
    }
    .card {
        position: relative;
        width: 100%;
        a {
            display: block;
            width: 80%;
            margin-top: var(--space-half);
            margin-left: auto;
            margin-right: auto;
            border: 1px solid var(--black-400);
            border-radius: var(--radius-xlg);
            color: var(--black-400);
            font-size: var(--font-sm);
            text-align: center;
            &.on {
                border: 1px solid var(--color-border);
                color: var(--black-800);
            }
            &.disabled {
                pointer-events: none;
                user-select: none;
            }
            @media screen and (max-width: $mobile-break) {
                width: 100%;
                font-size: var(--font-xsm);
            }
        }

        .removeButton {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            background: rgba(100, 100, 100, 0.3);
            border-radius: 0 8px;
        }

        &.on {
            .removeButton {
                display: block;
                &::before, &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 12px;
                    height: 2px;
                    background: var(--black-800);
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &::after {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }

    }
    .cardSlot {
        position: relative;
        width: 100%;
        padding: 0;
        background: var(--color-bg-second);
        border: 2px dashed var(--color-border);
        border-radius: var(--radius-lg);
        overflow: hidden;

        &:has(img) {
            border-style: solid;
            img {
                margin: auto;
            }
        }

        .sparkle {
            position: absolute;
            left: 28px;
            bottom: 34px;
            width: 34px;
            height: 34px;
            background: #b8d3b1;
            opacity: 0.28;

            clip-path: polygon(
                50% 0%,
                58% 38%,
                100% 50%,
                58% 62%,
                50% 100%,
                42% 62%,
                0% 50%,
                42% 38%
            );
        }

        .s1 {
            left: 22px;
            bottom: 36px;
            width: 28px;
            height: 28px;
            opacity: 0.35;
        }

        .s2 {
            width: 21px;
            height: 21px;
            left: 135px;
            bottom: 70px;
            opacity: 0.22;
        }

        .s3 {
            left: 16px;
            top: 27px;
            width: 18px;
            height: 18px;
            opacity: 0.21;
        }

        .slotPlus {
            display: block;
            position: relative;
            width: 100%;
            padding-top: 130%;
            cursor: pointer;
            &:before,
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                width: 7px;
                height: 40px;
                margin: auto;
                background-color: var(--color-plus-button);
                border-radius: var(--radius-sm);
            }

            &::after {
                width: 40px;
                height: 7px;
            }
        }

        @media screen and (max-width: $mobile-break){
            .slotPlus {
                &:before {
                    width: 5px;
                    height: 30px;
                }
                &:after {
                    width: 30px;
                    height: 5px;
                }
            }
        }
    }

    .layer {
        width: 100%;
        height: 100%;
        position: absolute;

        --header-height: 48px;
        .header {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: var(--header-height);
            border-radius: var(--radius-lg) var(--radius-lg) 0 0;
            h4 {
                width: 100%;
                background: var(--color-header-bg);
                border-radius: var(--radius-lg) var(--radius-lg) 0 0;
                padding: var(--space-xsm);
                color: var(--white);
                letter-spacing: var(--letter-spacing-md);
                filter: saturate(1.5);
            }

            button {
                position: absolute;
                right: 1.5rem;
                top: 0;
                bottom: 22px;
                margin: auto;
                &:before, &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 2px;
                    height: 22px;
                    background: var(--white);
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }

        .contents {
            display: flex;
            flex-direction: column;
            height: calc(100% - var(--header-height));
            border: 1px solid var(--black-200);
            border-radius: 0 0 var(--radius-lg) var(--radius-lg);
            box-shadow: 0px 2px 6px rgba(90,90,90,0.3);
            background: var(--white);
        }

        .searchInput {
            width: -webkit-fill-available;
            margin: var(--space-md);
            padding: var(--space-half);
            padding-left: var(--space-xsm);
            border-radius: var(--radius-lg);
            border: 1px solid var(--black-200);
            color: var(--black-800);
            &::placeholder {
                color: var(--black-600);
                letter-spacing: var(--letter-spacing-lg);
            }
        }


        .typeList {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--space-half);
            padding: var(--space-md);
            background: var(--color-bg-second);

            li {
                button {
                    padding: var(--space-half);
                    background-color: var(--white);
                    border-radius: var(--radius-md);
                    border:1px solid var(--black-400);

                    svg {
                        color: var(--black-600);
                    }

                    &.on {
                        border: 1px solid var(--color-type-fill);
                        background-color: var(--color-bg-third);
                        svg {
                            color: var(--color-type-fill);
                        }
                    }
                }
            }
        }

        .charaList {
            padding: var(--space-md);
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            overflow-x: hidden;
            overflow-y: scroll;
            gap: var(--space-sm) var(--space-md);
            overscroll-behavior: contain;
            li {
                button {
                    padding: 0;
                    img {
                        width: 100%;
                        max-width: 84px;
                        height: 100%;
                        aspect-ratio: 42 / 55;
                    }
                }
            }
        }
    }


    .trainingSelect {
        select {
            width: 100%;
            padding: 0 var(--space-xsm);
            border: 1px solid var(--color-border);
            border-radius: var(--radius-md);
            color: var(--black-800);
        }
        @media screen and (max-width: $mobile-break) {
            select {
                font-size: var(--font-sm);
            }
        }
    }

    .statTable {
        border-radius: var(--radius-lg);
        overflow: hidden;
        border: 1px solid var(--black-200);
        table {
            width: 100%;
            table-layout: fixed;

            &.used {
                tr:not(:first-child):not(:has(td div)) {
                    display: none;
                }
            }

            tr {
                background: var(--color-bg-second);

                &:nth-child(2n) {
                    background: var(--white);
                }

                th {
                    width: var(--left-width);
                    padding: var(--space-half);
                    background: var(--color-header-bg);
                    font-size: var(--font-sm);
                    color: var(--white);
                    letter-spacing: var(--letter-spacing-md);
                    div {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: var(--space-half);
                        svg {
                            width: 22px;
                            height: 22px;
                        }
                        span {
                            text-align: left;
                        }
                    }
                    @media screen and (max-width: $mobile-break) {
                        padding: var(--space-q);
                        div {
                            padding-left: 0;
                            font-size: var(--font-xsm);
                            flex-direction: column;
                            gap: var(--space-q);
                        }
                        svg {
                            display: none;
                            // width: 18px;
                            // height: 18px;
                        }
                        span {
                            text-align: center !important;
                            word-break: keep-all;
                        }
                    }
                }

                td {
                    padding: var(--space-half);
                    text-align: center;
                    font-size: var(--font-sm);
                    @media screen and (max-width: $mobile-break) {
                        padding: var(--space-q);
                        font-size: var(--font-xsm);
                    }
                    select {
                        width: 100%;
                        border-color: var(--black-200);
                        border-radius: var(--radius-md);
                        text-align: center;
                        color: var(--black-800);
                    }
                    .unique {
                        color: #ec2929;
                    }
                }

                th, td:not(:last-child) {
                    border-right: 1px solid var(--black-200);
                }

                &:not(:last-child) th, &:not(:last-child) td {
                    border-bottom: 1px solid var(--black-200);
                }
            }
        }

    }

}
